*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #b58f8f;
}
h1{
    padding-top: .75rem;
    text-align: center;
}

#country{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

.country{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #bbbaba;
    margin: 1rem;
    padding: 1rem 1.5rem;
    width: 20rem;
}

.country h2 {
    margin-bottom: 0.75rem;
}

.country img{
    width: 11rem;
    height: auto;
}